.feature_div{   
    /* padding: 1%; */
    padding-top: 3%;
    /* padding-bottom: 1%; */
}
.feature_img{
    width: 500px;
    display: block;
    margin: auto;
    /* border: 1px solid black; */
}
.feature_div>h2{
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.7;
}
.feature_div>h2+p{
    font-weight: 600;
    opacity: 0.8;
}
body{
    background-image: none;
}