body{
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.4%;
    /* background-position-y: center; */
    /* backdrop-filter: opacity(-0.5); */
    /* backdrop-filter: blur(4px); */
    height: 100%;
    /* position: fixed; */
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}


.navbar{
     background-color: #e3f2fd;
     /* margin-right: 5px; */
     padding-right: 2%;
     /* height: 65px; */
}
.navbar-brand{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
}
#logoimg{
    width: 70px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid black; */
    /* background-color: #e3f2fd; */
}

.link{
    width: 25%;
    /* border: 1px solid black; */
}
.ls{
    /* border: 1px solid black; */
    width: 12%;
    margin-right: 0.8%;
    margin-left: 2.5%;
    justify-content: space-evenly;
}
.nav-item{
    font-size: large;
    font-weight: 600;
    margin: auto;
    opacity: 0.8;
    margin-left: 4%;
    /* border: 1px solid black; */
}
.search_box{
    /* border: 1px solid black; */
    margin-right: 5%;
}
.home_detail{
    /* border: 1px solid black;    */
    color: white;
}
#heading{
    font-size: 60px;
    font-weight: bold;
    /* width: 85%; */
    margin: auto;
    margin-top: 5%;
    text-transform: capitalize;
    /* text-align: right; */
    line-height: 90px;
    /* text-align: center; */
}
.anytime{
    color:rgba(20, 6, 221, 0.829);
}
#food_line{
    font-size: 25px;
    /* width: 80%; */
    margin: auto;
    margin-top: 8%;
    text-transform: capitalize;
    font-weight: 600;
    /* line-height: 110px; */
}
#slider_box{
    width: 800px;
    margin-top: 4%;
    margin-left: 5%;
    height: 510px;
    border: 6px solid wheat;
    border-radius: 7px;
}
@media screen and (max-width:1450px){
    #slider_box{
        width: 600px;
    }
}
@media screen and (max-width:1100px){
    #slider_box{
        width: 500px;
    }
}
@media screen and (max-width:990px){
    #slider_box{
        width: 700px;
    }
}
@media screen and (max-width:765px){
    #slider_box{
        width: 500px;
    }
}
@media screen and (max-width:550px){
    #slider_box{
        width: 400px;
    }
}
@media screen and (max-width:450px){
    #slider_box{
        width: 320px;
    }
}
.mySlides{
    width: 100%;
    height: 500px;
    opacity: 0.9;
    border-radius: 5px;
}
#food_items{
    /* position: fixed; */
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 30px;
    /* border: 1px solid black; */
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 1%;
}
@media screen and (max-width:420px) {
    #food_items{
        grid-template-columns: 1fr 1fr;
    }
}
#food_items::-webkit-scrollbar {
    display: none;
}

.food_div{
    /* border: 1px solid black; */
    border-radius: 6px;
    height: 350px;
    /* width: 260px; */
    padding: 1%;
    padding-bottom: 3%;
    background-color: #e3f2fd;
    opacity: 0.8;
}
.foodimg{
/* width: 300px; */
width: 100%;
height: 230px;
}
.name_div{
    height: 70px;
}
.foodname{
    font-size: 18px;
    margin-left: 2%;
    font-weight: 500;
    color: black;
}
.booknow{
    display: block;
    margin: auto;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;

}
.booknow:hover{
    background-color: rgb(39, 37, 37);
    color: white;
}
@media screen and (max-width:1430px){
    #heading{
        font-size: 50px;
        line-height: 80px;
    }
    #food_line{
        margin-top: 6%;
    }
}
@media screen and (max-width:1300px){
    #heading{
        font-size: 45px;
        line-height: 80px;
    }
    #food_line{
        margin-top: 5%;
    }
}
@media screen and ((max-width:1050px) and (min-width:992px)){
    #food_line{
        font-size: larger;
    }
}